header {
    width: 100%;
    text-align: left;
    padding: 0.5em;
    box-sizing: border-box;
    background-color: #181818;
    -webkit-app-region: drag;
}

header button{
    all: unset;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    margin: 0.25rem;
    -webkit-app-region: no-drag;
}

#close {
    background-color: #ff5555;
}

#minimize {
    background-color: #ffff55;
}

#maximize {
    background-color: #55ff55;
}

.mainGrid {
    height: 10rem;
    padding: 0.5rem;
}

.main {
    display: grid;
    grid-template-columns: 16rem auto;
    gap: 1rem;
    align-items: center;
    margin: 1rem auto;
    max-width: 900px;
}

.selectOption {
    padding: 0.5rem;
    display: block;
    width: 100%;
    gap: 1rem;
    background-color: #2C2C2C;
    margin: 0.5rem 0;
    border-right: 0.25rem solid #181818;
    cursor: pointer;
}

.selectOption:hover {
    background-color: #3C3C3C;
}

.selectOption :first-child {
    font-weight: 600;
}

.selectOption :nth-child(2) {
    font-weight: 400;
    font-size: 0.8rem;
}

.selectOptionChart {
    width: 100%;
    height: 2rem;
}

.selectOptionChart * {
    cursor: pointer;
}

.selectOptionTitle {
    display: flex;
    gap: 1rem;
}